

{% extends 'myApp/padre.html' %}
{% load static %}

{% block title %}
    <h1 class="text-center header-title">Trainers & Masters Content</h1>
{% endblock %}

{% block contenidoQueCambia %}
<h2 class="text-center">Acá se ven todos los Maestros Pokemons!</h2>

<ul>
    {% for master in all_masters %}

        <li>Name: {{master.name}} ---> Fav Type: {{master.favorite_type}}</li>

    {% endfor %}
</ul>

<section class="addItem--form">
    <h3>Add New Master or Trainer</h3>

    {% if masterform.errors %}

    <p>Please, check the info</p>

    {% endif %}

    <form action="" method="POST">{% csrf_token %}

        <table>
            {{ masterform.as_table }}
        </table>
        <button class="btn btn-block btn-outline-success" type="submit">Create</button>
    </form>
</section>   

{% endblock %}