

{% extends 'myApp/padre.html' %}

{% load static %}

{% block title %}
    <h1 class="text-center header-title">Pokemons Contents</h1>
{% endblock %}

{% block contenidoQueCambia %}

<div class="form__container d-flex justify-content-evenly">
    <div class="d-flex flex-column align-items-center m-5">
        <h2 class="text-center">Acá se ven todos los Pokemons</h2>
        <form action="" method="DELETE">{% csrf_token %}
            <table class="table table-blur">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Pokemon Name</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Attack Power</th>
                        <th class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pokemon in all_pokemons %}
                        <tr>
                            <td class="m-2 text-center">{{ pokemon.id }} </td>
                            <td class="m-2 text-center">{{ pokemon.name }} </td>
                            <td class="m-2 text-center">{{ pokemon.type }}</td>
                            <td class="m-2 text-center">{{ pokemon.attack }}</td>
                            <td class="m-2 text-center"><a class="btn btn-outline-danger" href="{% url 'DeletePokemon' pokemon.name %}">❌</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>

    <section class="m-5">
        <div class="addItem--form">
            <h3>Add A Pokemon</h3>
    
            {% if pokeform.errors %}
            
            <p>Por favor, revisar los datos ingresados.</p>
            
            {% endif %}
    
            <form action="" method="POST" >{% csrf_token %}
                <table>
                    {{ pokeform.as_table }}
                </table>
                <div class="d-grid gap-2 col-12 mx-auto mt-4">
                    <button class="btn btn-block btn-success" type="submit">Catch!</button>
                </div>
            </form>
        </div>
    </section>
</div>

{% endblock %}