

{% extends 'myApp/padre.html' %}

{% load static %}

{% block title %}
    <h1 class="text-center header-title">Pokemons Contents</h1>
{% endblock %}

{% block contenidoQueCambia %}

<div class="d-flex justify-content-evenly">
    <ul class="d-flex flex-column align-items-center m-5">
        <h2 class="text-center">Acá se ven todos los Pokemons</h2>
        {% for pokemon in all_pokemons %}

            <li>Name: {{pokemon.name}} ---> Type: {{pokemon.type}} || <button class="m-2 btn btn-outline-danger">Delete</button></li> 

        {% endfor %}
    </ul>

    <section class="m-5">
        <div class="addItem--form">
            <h3>Add A Pokemon</h3>
    
            {% if pokeform.errors %}
            
            <p>Por favor, revisar los datos ingresados.</p>
            
            {% endif %}
    
            <form action="" method="POST" >{% csrf_token %}
                <table>
                    {{ pokeform.as_table }}
                </table>
                <div class="d-grid gap-2 col-12 mx-auto mt-4">
                    <button class="btn btn-block btn-success" type="submit">Catch!</button>
                </div>
            </form>
        </div>
    </section>
</div>

{% endblock %}