
{% extends 'myApp/padre.html' %}
{% load static %}

{% block title %}
    <h1 class="text-center header-title">Search Result!</h1>
{% endblock %}

{% block contenidoQueCambia %}

<section class="d-flex flex-column align-items-center">
    <h4 class="m-3">El pokemon buscado es: {{name}}</h4>

    {% if pokemon %}

    <table class="table table-blur">
        <thead>
            <tr>
                <th class="text-center">Pokemon Name</th>
                <th class="text-center">Type</th>
                <th class="text-center">Attack Power</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
            {% for pokemon in pokemon %}
                <tr>
                    <td class="text-center">{{pokemon.name}}</td>
                    <td class="text-center">{{pokemon.type}}</td>
                    <td class="text-center">{{pokemon.attack}}</td>
                </tr>
            {% endfor %}
    </table>

    {% endif %}
</section>

{% endblock %}

